<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="System.Data.OracleClient" value="provider:Sif.Data.Oracle.OracleDBFactory, Sif.Data.Oracle, Version=4.0.0.3, Culture=neutral, PublicKeyToken=5089728937e6f0f5"/>
		<add key="LDAP" value="ConnectDomain=summit.com.co;user=SIFUser;password=Summit2013*;server=172.19.2.105;AuthType=Negotiate"/>
	</appSettings>
	
	<connectionStrings>
		<add name="SIFDefaultConnection" connectionString="Data Source = (DESCRIPTION=(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST = 172.19.13.65)(PORT = 1521)))(CONNECT_DATA=(SERVICE_NAME=SMTDES)));User Id=CNXWOLFD; Password=CNXWOLFD" providerName="System.Data.OracleClient"/>
		<add name="SIFJournalConnection" connectionString="Data Source = (DESCRIPTION=(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST = 172.19.13.65)(PORT = 1521)))(CONNECT_DATA=(SERVICE_NAME=SMTDES)));User Id=CNXWOLFD; Password=CNXWOLFD; Min Pool Size=10;Max Pool Size=20;Enlist=false"/>
		<add name="SIFOldJournalConnection" connectionString="Data Source = (DESCRIPTION=(ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST = 172.19.13.65)(PORT = 1521)))(CONNECT_DATA=(SERVICE_NAME=SMTDES)));User Id=CNXWOLFD; Password=CNXWOLFD; Min Pool Size=10;Max Pool Size=20;Enlist=false"/>
	</connectionStrings>

</configuration>